#VERSIONS
EXPO_PUBLIC_VERSION=v1
EXPO_PUBLIC_VERSIONS=v1,v2
#REACT
EXPO_PUBLIC_NODE_ENV=development
#EXPO
EXPO_PUBLIC_BACKEND_URL=127.0.0.1:8020
EXPO_PUBLIC_EMULATOR_URL=10.0.2.2:8020
EXPO_SESSION_TOKEN_KEY=auth.sessionToken
#POSTGRES
POSTGRES_DB=django_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=django_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
#MINIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin
#DJANGO
DJANGO_ENV=dev
DJANGO_PORT=8020
REDIS_PORT=6379
MINIO_SERVER_PORT=9000
MINIO_CONSOLE_PORT=9001
FLOWER_PORT=5555
DJANGO_HEALTHCHECK_URL=http://localhost:8000/health/
MINIO_HEALTHCHECK_URL=http://localhost:9000/minio/health/live